In [28]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
from shutil import copy

In [37]:
# Fill path
mypath = "facial_generation/images"

# Hardcode values for race and gender
race = {"0":"White" , "1":"Black" , "2":"Asian", "3": "Indian", "4":"Others"}
gender = {"0":"male", "1":"female"}

In [50]:
# Make a list of races, gender list and age
img_race_list = []
img_gender_list = []
img_age_list = []

In [51]:
# Get images in path
image_names = [f for f in listdir(mypath)]

In [54]:
counter = 0
for img in image_names:
    img_split = img.split("_")
    img_age_list.append(img_split[0])
    img_gender_list.append(gender[img_split[1]])
    img_race_list.append(race[img_split[2]])

In [55]:
len(img_age_list)

23703

In [56]:
image_df = pd.DataFrame({"image_name":image_names, "age":img_age_list, "race":img_race_list, "image_gender":img_gender_list})

In [57]:
image_df.head()

   age image_gender                              image_name   race
0  100         male  100_0_0_20170112213500903.jpg.chip.jpg  White
1  100         male  100_0_0_20170112215240346.jpg.chip.jpg  White
2  100       female  100_1_0_20170110183726390.jpg.chip.jpg  White
3  100       female  100_1_0_20170112213001988.jpg.chip.jpg  White
4  100       female  100_1_0_20170112213303693.jpg.chip.jpg  White

In [58]:
int("100")

100

In [60]:
def categorizeAgeGroup(x):
    x = int(x)
    if x in range(0, 11):
        return '0 - 10'
    elif x in range(11, 21):
        return '11 - 20'
    elif x in range(21, 31):
        return '21 - 30'
    elif x in range(31, 41):
        return '31 - 40'
    elif x in range(41, 51):
        return '41 - 50'
    elif x in range(51, 61):
        return '51 - 60'
    elif x in range(61, 71):
        return '61 - 70'
    elif x in range(71, 81):
        return '71 - 80'
    elif x in range(81, 91):
        return '81 - 90'
    elif x in range(91, 101):
        return '91 - 100'
    elif x in range(101, 111):
        return '101 - 110'
    else:
        return '111 - death'

In [62]:
# Fill here
# image_df["age"] = image_df["age"].apply(lambda x: categorizeAgeGroup(x))

In [63]:
image_df.head()

        age image_gender                              image_name   race
0  91 - 100         male  100_0_0_20170112213500903.jpg.chip.jpg  White
1  91 - 100         male  100_0_0_20170112215240346.jpg.chip.jpg  White
2  91 - 100       female  100_1_0_20170110183726390.jpg.chip.jpg  White
3  91 - 100       female  100_1_0_20170112213001988.jpg.chip.jpg  White
4  91 - 100       female  100_1_0_20170112213303693.jpg.chip.jpg  White