In [28]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
from shutil import copy

In [37]:
# Fill path
mypath = "facial_generation/images"

# Hardcode values for race and gender
race = {"0":"White" , "1":"Black" , "2":"Asian", "3": "Indian", "4":"Others"}
gender = {"0":"male", "1":"female"}

In [50]:
# Make a list of races, gender list and age
img_race_list = []
img_gender_list = []
img_age_list = []

In [56]:
image_df = pd.DataFrame({"image_name":image_names, "age":img_age_list, "race":img_race_list, "image_gender":img_gender_list})

In [60]:
# Nedu's function

In [62]:
# Fill here
# image_df["age"] = image_df["age"].apply(lambda x: categorizeAgeGroup(x))

In [63]:
image_df.head()

        age image_gender                              image_name   race
0  91 - 100         male  100_0_0_20170112213500903.jpg.chip.jpg  White
1  91 - 100         male  100_0_0_20170112215240346.jpg.chip.jpg  White
2  91 - 100       female  100_1_0_20170110183726390.jpg.chip.jpg  White
3  91 - 100       female  100_1_0_20170112213001988.jpg.chip.jpg  White
4  91 - 100       female  100_1_0_20170112213303693.jpg.chip.jpg  White

In [ ]:
# Save as csv file
image_df.to_csv("images_csv", index=False)